name: code-server
services:
  app:
    container_name: code-server-app-${VERSION:-4.100.1}
    image: ghcr.io/z720/code-server:${VERSION:-4.100.1}
    build:
      context: .
      dockerfile: Dockerfile
    hostname: code-server
    restart: unless-stopped
    labels: [ "com.centurylinklabs.watchtower.scope=${UPDATE_SCOPE:-code-server}" ]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HOST_HOME:-~}/.config:/home/coder/.config 
      - ${HOST_HOME:-~}/.ssh:/home/coder/.ssh 
      - ${HOST_HOME:-~}/dotfiles:/home/coder/dotfiles 
      - ${HOST_HOME:-~}/workspaces:/home/coder/workspaces
      - ${HOST_HOME:-~}/.local/share/code-server:/home/coder/.local/share/code-server
    ports:
      # Expose dev port for apps to test
      - 3000:3000 
      # Expose app port
      - 8080:8080 
  update:
    image: containrrr/watchtower
    container_name: code-server-update
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --scope ${UPDATE_SCOPE:-code-server}
    profiles:
    - update