name: Tag and release

on:
  workflow_dispatch:

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract.outputs.version }}
      do: ${{ steps.extract.outputs.do }}
    steps:
    - name: Checkout develop
      uses: actions/checkout@v4
      id: checkout
      with: 
        ref: develop
    - name: Extract version and try to create release
      id: extract
      run: |
        VERSION=$(grep '^ARG CODESERVER_VERSION=' Dockerfile | sed 's/^ARG CODESERVER_VERSION=//')
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    - name: Check version doesn't exist
      id: check
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh release list | grep " v${ steps.extract.outputs.version } " || (echo  "Version ${ steps.extract.outputs.version } exists: STOP"; exit 1;)
        echo  "Version doesn't exists. Continue..."
        echo "do=nothing" >> $GITHUB_OUTPUT
    - name: Create release
      id: do-release
      env:
        GH_TOKEN: ${{ github.token }}
      run:
        gh release create v${ steps.extract.outputs.version } --generate-notes
        echo " Release created"
        echo "do=release" >> $GITHUB_OUTPUT

  post-release:
    needs: release
    name: Post Release
    if: needs.release.outputs.do == 'release'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@v4
      id: checkout-main
      with: 
        ref: main
        depth: 0 
    - name: Merge in main
      id: merge
      run: |
        git merge --squash develop
        git commit
        git push origin main
