name: Sync upstream release

on:
  workflow_dispatch:
  schedule: 
    - cron: "3 7 * * *"

jobs: 
  check:
    name: Check last version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.upstream.outputs.release }}
      result: ${{ steps.check_tag.outputs.result }}
    steps:
    - name: Get Latest Upstream Release
      id: upstream
      uses: pozetroninc/github-action-get-latest-release@v0.8.0
      with: 
        #repository: ${UPSTREAM}
        owner: coder
        repo: code-server
        excludes: draft
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v4
      id: checkout
      with:
        ref: develop
        fetch-depth: 0
    - name: Check for Tag
      id: check_tag
      run: |
          if git show-ref --tags --verify --quiet "refs/tags/${{ steps.upstream.outputs.release}}"; then
            echo "Tag ${{ steps.upstream.outputs.release }} already exists" >> $GITHUB_STEP_SUMMARY
            echo "result=noop" >> $GITHUB_OUTPUT
          else
            echo "Tag ${{ steps.upstream.outputs.release }} is missing. Trying to update" >> $GITHUB_STEP_SUMMARY
            echo "result=update" >> $GITHUB_OUTPUT
          fi
  update:
    name: Update to last version
    runs-on: ubuntu-latest
    needs: check
    if: needs.check.outputs.result == 'update'
    steps: 
    - uses: actions/checkout@v4
      id: checkout
      with:
        ref: develop
        fetch-depth: 0
    - name: Strip v prefix
      id: stripv
      run: echo "version=$(echo ${{needs.check.outputs.version}} | cut -c2- -)" >> $GITHUB_OUTPUT
      # echo "::set-output name=version::${{ steps.upstream.outputs.release }}"
    - name: Update versions
      id: replace-build
      run: sed -i '/^ARG CODESERVER_VERSION=/s/.*/ARG CODESERVER=${{ steps.stripv.outputs.version }}/' Dockerfile
    - name: Setup committer
      run: |
        git config user.email "action@github.com"
        git config user.name "GitHub Action"
    - name: Commit files and push
      run: |
        git add .
        git commit -m "Bump code server version ${{ steps.stripv.outputs.version }}"
        git push


    


